* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manjari";
}

body {
    background-color: rgb(250, 250, 250);
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 30px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 25px;
}

.conseils {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    margin: 40px;
}

.imgTrier {
    height: 250px;
    width: 350px;
    border-radius: 10px;
}

.textConseils {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
}

.conseilsDroite {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.secCollecte {
    background-color: rgba(164, 230, 99, .5);
    height: 500px;
}

.dechetsRefusText {
    border: 1px solid;
    border-color: rgba(234, 37, 16, .5);
    padding: 10px;
    padding-bottom: 30px;
}

.titleDechetsRefus {
    background-color: rgba(234, 37, 16, .5);
    color: white;
    padding: 10px;
}

.pointsCollecte {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.menuDeroulant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
}

summary:hover {
    cursor: pointer;
}

.ulCollecte, li, p {
    margin-top: 10px;
}

.spanVilles {
    font-weight: bold;
}

.imgContainer {
    height: 350px;
    width: 550px;
    border-radius: 5px;
}

details {
    margin: 10px;
}

ul, li {
    list-style: none;
    margin: 5px;
}

hr {
    margin: 50px auto;
    width: 80%;
}

@media only screen and (max-width: 1300px) {

    .conseils {
        flex-direction:column;
        align-items: center;
        height: 750px;
        margin: 0;
    }

    .textConseils {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 961px) {

    .pointsCollecte {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        height: 700px;
        margin: 0;
    }

    .menuDeroulant {
        align-items: center;
        height: 300px;
    }

    details {
        text-align: center;
    }
}