* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manjari";
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}