* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Polly";
}

body {
	background-color: rgb(250, 250, 250);
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Aquatico";
	src: url("polices/Aquatico-Regular.otf");
}

@font-face {
	font-family: "Rustico";
	src: url("polices/Rustico-V2-Regular.otf");
}

@font-face {
	font-family: "Polly";
	src: url("polices/PollyRounded-Regular.otf");
}

h1 {
    text-align: center;
    font-family: "Aquatico";
    color: rgb(51, 51, 51);
    margin-top: 110px;
    margin-bottom: 30px;
    font-size: 55px;
}

h2 {	
	text-align: center;
	font-family: "Aquatico";
	color: rgb(51, 51, 51);
	height: 120px;
	margin: 20px;
	margin-top: 90px;
	font-size: 50px;
}

h2::after {
	content: "";
	height: 0.4rem;
	width: 5rem;
	display: block;
	margin: 25px auto 1rem;
	background: rgb(18, 150, 18);
}

/* Section Header */

nav {
	background-color: rgba(80, 80, 80);
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.menu_icon_link {
	width: 60px;
	height: 60px;
}

.menu_icon {
	width: 100%;
	height: 100%;
	padding: 5px;
}

.menu_icon:hover {
	opacity: 0.6;
}

.menu {
	display: flex;
	width: calc(100vw - 60px);
	height: 60px;
}

.menu a {
	width: 33.33%;
	color: rgb(237, 245, 240);
	width: 100%;
	height: 60px;
	text-decoration: none;
	font-family: "Aquatico";
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu a:hover {
	background-color: rgba(100, 100, 100, .9);
	cursor: pointer;
	transition-duration: 0.4s;
}

.burger {
	display: none;
}

.close_burger {
	display: none;
}

.close_burger:first-child {
	display: none;
	width: 0;
}

.close img {
	position: absolute;
	top: 0;
	left: calc(50% - 40px);
	width: 60px;
	height: 60px;
	z-index: 2;
}

.sub_menu_asso {
	display: none;
}

.sub_menu_asso:target {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(80, 80, 80);
    top: 0;
    left: calc(60px + (100vw - 60px) /3 );
    width: calc( (100vw - 60px) / 3) ;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.sub_menu_asso a {
	color: rgb(237, 245, 240);
	text-decoration: none;
	font-family: "Aquatico";
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub_menu_asso a:hover {
	background-color: rgba(100, 100, 100, .9);
	cursor: pointer;
	transition-duration: 0.6s;
}


.superposition {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 765px;
	background: url("images/greenbanner.jpg	") no-repeat center;
	background-size: cover;
}

/* Section Content */

.secInfo {
    background: url("images/green_cup.png");
    padding: 20px;
}

.divTextInformations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 200px;
}

.textInformations {
    line-height: 1.5rem;
    list-style: none;
}

.Informations {
    display: flex;
    align-items: center;
}

.assoImg {
    border: 4px solid green;
    border-radius: 10px;
}

.description {
    padding: 30px;
}

.textDescription {
    margin: 40px auto;
    width: 75%;
    line-height: 1.5rem;
    font-size: 1.3rem;
}


/* Section Footer */

.footer{
    background-color: #424952;
	height: 180px;
	border-top: 15px solid rgb(18, 150, 18);
	display: flex;
	flex-direction: column;
	justify-content: center;
  }

  .footer_haut{
	display: flex;
    justify-content: space-around;
	align-items: center;
	margin-top: 20px;
  }
  
  .footer_haut div{
    display: flex;
    flex-direction: column;
  }
  
  .column{
    width: 20%;
    display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
  }

  .column a{
	  margin-bottom: 5px;
	  font-size: 1.2em;
  }

  .column img{
    width: 50px;
    height: 50px;
  }

  .copyright{
	  justify-content: flex-end;
	  align-self: center;
	  margin-top: 6px;
  }
  
  .footer p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.3em;
  }

  .footer_menu{
	  display: flex;
	  align-items: center;
	  justify-content: space-around;
  }

  .footer_menu a{
	margin: 0 5px;
	justify-content: center;
  }

  .footer a{
	text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
	font-size: 1.2em;
  }

  .column .reseaux{
	  display: flex;
	  flex-direction: row;
  }

  .column .reseaux a{
	  margin: 8px;
  }

@media only screen and (max-width: 1108px) {

	.column .reseaux img{
		width: 30px;
		height: 30px;
	}

	.footer p{
		font-size: 1.1em;
	}

	.footer a{
		font-size: 1.1em;
	}

	.footer_haut{
		display: flex;
    }

    .Informations {
        flex-direction: column;
    }

}

@media only screen and (max-width: 961px) {


    .menu_icon_link {
        width: 30px;
        height: 30px;
    }

    .menu_icon {
        width: 30px;
        height: 30px;
    }

    .menu, .close {
        display: none;
    }

    .burger {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger img {
        width: 100%;
        height: 100%;
    }

    .menu:target {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(80, 80, 80, .8);
        top: 30px;
        left: 30px;
        width: calc(100vw - 30px - 30px);
        height: 120px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

    }
    .close_burger:first-child {
        display: flex;
        width: 100%;
    }

    .close_burger img {
        display: flex;
        position: absolute;
        top: 0;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        z-index: 2;
    }

    .close img {
        position: absolute;
        top: 0px;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        z-index: 2;
    }

    .sub_menu_asso {
        display: none;
    }

    .sub_menu_asso a, .menu a {
        font-family: "Aquatico";
        font-size: 1rem;
    }

    .sub_menu_asso:target {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(80, 80, 80, .8);
        top: 30px;
        left: 30px;
        width: calc(100vw - 30px - 30px) ;
        height: 150px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }


    .superposition {
        position:fixed;
        top: 0;
        left: 30px;
        width: calc(100vw - 30px - 30px);
        height: 30px;
        background: rgba(80, 80, 80, .8);
        z-index: 2;
    }
}

@media only screen and (max-width: 880px) {

	.footer_menu p{
		display: flex;
		flex-direction: column;
	}

	.barre-sepa{
		display: none;
	}

	.column p{
		display: none;
	}

	.footer p{
		align-items: center;
	}

	.column .reseaux{
		flex-direction: column;
	}

	.column .reseaux a{
		margin: 0;
	}

	.column{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.footer p, .footer a{
		font-size: 1em;
	}
}