@import url("style.css");


.flex_asso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    font-family: "Aquatico";
    color: rgb(51, 51, 51);
    height: 120px;
    font-size: 55px;
    margin-top: 80px;
    width: 100vw;
    z-index: 0;
    font-size: 8em;
}

.Informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

h2 {    
    text-align: center;
    font-family: "Aquatico";
    color: rgb(51, 51, 51);
    height: 120px;
    margin: 20px;
    margin-top: 100px;
    font-size: 50px;
    width: 100vw;
}
    
h2::after {
    content: "";
    height: 0.4rem;
    width: 5rem;
    display: block;
    margin: 25px auto 1rem;
    background: rgb(18, 150, 18);
}

.Informations div {
    width: 60vw;
    height: 200px;
}

.Informations div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.asso1img {
    max-width: 30vw;
    height: 200px;
    object-fit: fill;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.Description {
    width: 100vw;
    margin-bottom: 60px;
}