@media only screen and (max-width: 1108px) {

    .column .reseaux img{
        width: 30px;
        height: 30px;
    }

    .footer p{
        font-size: 1.1em;
    }

    .footer a{
        font-size: 1.1em;
    }

    .footer_haut{
        display: flex;
    }

    .Informations {
        flex-direction: column;
    }

}

@media only screen and (max-width: 961px) {


    .menu_icon_link {
        width: 30px;
        height: 30px;
    }

    .menu_icon {
        width: 30px;
        height: 30px;
    }

    .menu, .close {
        display: none;
    }

    .burger {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger img {
        width: 100%;
        height: 100%;
    }

    .menu:target {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--secondary_color);
        top: 30px;
        left: 30px;
        width: calc(100vw - 30px - 30px);
        height: 120px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

    }
    .close_burger:first-child {
        display: flex;
        width: 100%;
    }

    .close_burger img {
        display: flex;
        position: absolute;
        top: 0;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        z-index: 2;
    }

    .close img {
        position: absolute;
        top: 0px;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        z-index: 2;
    }

    .sub_menu_asso {
        display: none;
    }

    .sub_menu_asso a, .menu a {
        font-family: "Aquatico";
        font-size: 1rem;
    }

    .sub_menu_asso:target {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--secondary_color);
        top: 30px;
        left: 30px;
        width: calc(100vw - 30px - 30px) ;
        height: 150px;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }


    .superposition {
        position:fixed;
        top: 0;
        left: 30px;
        width: calc(100vw - 30px - 30px);
        height: 30px;
        background: rgba(80, 80, 80, .8);
        z-index: 2;
    }
}

@media only screen and (max-width: 880px) {

    .footer_menu p{
        display: flex;
        flex-direction: column;
    }

    .barre-sepa{
        display: none;
    }

    .column p{
        display: none;
    }

    .footer p{
        align-items: center;
    }

    .column .reseaux{
        flex-direction: column;
    }

    .column .reseaux a{
        margin: 0;
    }

    .column{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .footer p, .footer a{
        font-size: 1em;
    }
}