@media only screen and (max-width: 1300px) {

    .textConseils {
        margin-bottom: 20px;
	}

	.secAction {
		height: 1500px;
	}

    .divAction {
    	display:flex;
    	justify-content: space-around;
    	flex-wrap: wrap;
    }

    .action {
    	width: 450px;
    	margin: 40px;
    }

    #action2 {
    	order: 1;
    }

	.conseils {
		flex-direction:column;
		align-items: center;
		height: 750px;
		margin: 0;
	}

	.textConseils {
		margin-bottom: 20px;
	}

	.secCollecte {
		height: 900px;
	}

	.pointsCollecte {
		flex-direction: column-reverse;
		justify-content: space-evenly;
		align-items: center;
		height: 700px;
		margin: 0;
	}

	.menuDeroulant {
		align-items: center;
		height: 300px;
	}

	details {
		text-align: center;
	}
}

@media only screen and (max-width: 961px) {


		.menu_icon_link {
			width: 30px;
			height: 30px;
		}

		.menu_icon {
			width: 30px;
			height: 30px;
		}

		.menu, .close {
		    display: none;
	    }

		.burger {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.burger img {
			width: 100%;
			height: 100%;
		}

		.menu:target {
			display: flex;
			flex-direction: column;
			position: fixed;
			background-color: var(--secondary_color);
			top: 30px;
			left: 30px;
			width: calc(100vw - 30px - 30px);
			height: 120px;
			justify-content: space-between;
			align-items: center;
			z-index: 2;

		}
        .close_burger:first-child {
    		display: flex;
    		width: 100%;
    	}

    	.close_burger img {
    		display: flex;
    		position: absolute;
    		top: 0;
    		left: calc(50% - 15px);
    		width: 30px;
    		height: 30px;
    		z-index: 2;
    	}

		.close img {
			position: absolute;
			top: 0px;
			left: calc(50% - 15px);
			width: 30px;
			height: 30px;
			z-index: 2;
		}

		.sub_menu_asso {
			display: none;
		}

    	.sub_menu_asso a, .menu a {
    		font-family: "Aquatico";
    		font-size: 1rem;
    	}

		.sub_menu_asso:target {
			display: flex;
			flex-direction: column;
			position: fixed;
			background-color: var(--secondary_color);
			top: 30px;
			left: 30px;
			width: calc(100vw - 30px - 30px) ;
			height: 150px;
			justify-content: space-between;
			align-items: center;
			z-index: 2;
		}


		.superposition {
			position:fixed;
			top: 0;
			left: 30px;
			width: calc(100vw - 30px - 30px);
			height: 30px;
			background: rgba(80, 80, 80, .8);
			z-index: 2;
		}

		h1 {
			width: 100%;
			height: 100%;
			font-size: 1.2em;
			font-weight: bolder;
			text-align: center;
		}

		.green {
			height: 40px;
			font-size: 1.2em;
		}

		.assosLinks {
			display: flex;
			flex-direction: column;
			margin-top: 2vh;
			font-size: 1.6em;
			margin-bottom: 2vh;
		}

		.secAssociations{
			height: 1250px;
		}

		.divAssPict {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			height: 300px;
			width: 34%;
			margin-bottom: 2vh;
		}

		.secAction {
			height: 2470px;
		}
}

@media only screen and (max-width: 1100px) {

	.column .reseaux img{
		width: 30px;
		height: 30px;
	}

	.footer p{
		font-size: 1.1em;
	}

	.footer a{
		font-size: 1.1em;
	}

	.footer_haut{
		display: flex;
	}

	.hrAction {
		display: block;
	}

	.secAction {
		height: 2350px;
	}

}

@media only screen and (max-width: 800px) {

	.footer_menu p{
		display: flex;
		flex-direction: column;
	}

	.barre-sepa{
		display: none;
	}

	.column p{
		display: none;
	}

	.footer p{
		align-items: center;
	}

	.column .reseaux{
		flex-direction: column;
	}

	.column .reseaux a{
		margin: 0;
	}

	.column{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.footer p, .footer a{
		font-size: 1em;
	}
}

@media only screen and (max-width: 560px) {

	.textConseils {
		font-size: 1.2em;
		padding: 10px;
	}

	.dechetsRefusText {
		font-size: 1.2em;
	}

	.titleDechetsRefus {
		font-size: 1.2em;
	}

	.menuDeroulant {
		font-size: 1.2em;
		width: 100vw;
	}

	.actitle {
		height: 500px;
	}

	.actitleMobile {
		height: 700px;
	}

	.secAction {
		height: 2900px;
	}

	.assosLinks {
		width: 100vw;
	}

	.divAssPict {
		width: 100vw;
	}
}


@media only screen and (max-width: 460px) {
	.imgTrier {
		height: 210px;
		width: 300px;
	}

	.imgContainer {
		height: 200px;
		width: 300px;
	}

	.textConseils {
		font-size: 1.2em;
	}

	.dechetsRefusText {
		font-size: 1.2em;
	}

	.titleDechetsRefus {
		font-size: 1.2em;
	}

	.menuDeroulant {
		font-size: 1.2em;
		width: 100vw;
	}

	.actitle {
		height: 500px;
	}

	.actitleMobile {
		height: 700px;
	}

	.secAction {
		height: 2900px;
	}

	.assosLinks {
		width: 100vw;
	}

	.divAssPict {
		width: 100vw;
	}
}
