@import "header.css";
@import "footer.css";

:root {
    --main_bg_color: rgb(245, 245, 245);
    --primary_color: rgb(18, 150, 18);
    --secondary_color: #424952;
    --hover_color: #BBD8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Polly";
}

body {
	background-color: rgb(250, 250, 250);
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Aquatico";
	src: url("../fonts/Aquatico-Regular.otf");
}

@font-face {
	font-family: "Rustico";
	src: url("../fonts/Rustico-V2-Regular.otf");
}

@font-face {
	font-family: "Polly";
	src: url("../fonts/PollyRounded-Regular.otf");
}

h1 {
    display:none;
    font-size: 60px;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    font-family: "Aquatico";
    color: rgb(51, 51, 51);
}

.Green {
    font-size: 1.2em;
    color: var(--primary_color);
    font-family: "Rustico"
}

.superposition {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 765px;
    background: url("../images/greenbanner.jpg	") no-repeat center;
    background-size: cover;
}

h2 {	
	text-align: center;
	font-family: "Aquatico";
	color: rgb(51, 51, 51);
	/*height: 120px;*/
	margin: 20px;
	margin-top: 90px;
	font-size: 50px;
}

h2::after {
	content: "";
	height: 0.4rem;
	width: 5rem;
	display: block;
	margin: 25px auto 1rem;
	background: rgb(18, 150, 18);
}


/* Section Content */

.secInfo {
    background: url("../images/green_cup.png");
    padding: 20px;
}

.divTextInformations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 200px;
}

.textInformations {
    line-height: 1.5rem;
    list-style: none;
}

.Informations {
    display: flex;
    align-items: center;
}

.assoImg {
    border: 4px solid green;
    border-radius: 10px;
}

.description {
    padding: 30px;
}

.textDescription {
    margin: 40px auto;
    width: 75%;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

.linkUD {
    text-align: center;
    margin-bottom: 60px;

}
@media only screen and (max-width: 1108px) {

    .column .reseaux img{
        width: 30px;
        height: 30px;
    }

    .footer p{
        font-size: 1.1em;
    }

    .footer a{
        font-size: 1.1em;
    }

    .footer_haut{
        display: flex;
    }

    .Informations {
        flex-direction: column;
    }

}

@media only screen and (max-width: 961px) {

    .superposition {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 30px;
        width: calc(100% - 30px - 30px);
        height: 30px;
        background: rgba(80, 80, 80, .8);
        z-index: 2;
    }

    h1 {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
    }

    .green {
        height: 40px;
        font-size: 1.2em;
    }

    .superposition {
        position:fixed;
        top: 0;
        left: 30px;
        width: calc(100vw - 30px - 30px);
        height: 30px;
        background: rgba(80, 80, 80, .8);
        z-index: 2;
    }
}

@media only screen and (max-width: 880px) {

    .footer_menu p{
        display: flex;
        flex-direction: column;
    }

    .barre-sepa{
        display: none;
    }

    .column p{
        display: none;
    }

    .footer p{
        align-items: center;
    }

    .column .reseaux{
        flex-direction: column;
    }

    .column .reseaux a{
        margin: 0;
    }

    .column{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .footer p, .footer a{
        font-size: 1em;
    }
}